* {
    font-family: 'Handlee', cursive;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #BCB8B1;
}

.header {
    background-color: #463F3A;
    height: 100px;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.header img {
    border-radius: 70px;
    border: 4px solid #E0AFA0;
    height: 74px;
    vertical-align: middle;
    margin: auto;
    display: inline-block;
    margin-top: 9px;
    margin-bottom: 9px;
}

.header h1 {
    vertical-align: middle;
    width: auto;
    display: inline-block;
    text-transform: uppercase;
    color: #E0AFA0;
    margin: 0px;
    text-align: center;
    margin-left: 10px;
}

.header-list {
    list-style: none;
    white-space: nowrap;
    float: right;
    line-height: 100px;
    margin: auto;
}

.header-item {
    display: inline;
    float: left;
    box-sizing: inherit;
    padding-left: 20px;
    color: #E0AFA0;
    font-size: 20px;
}

.header-link {
    text-decoration: none;
    font-weight: 600;
}

.content {
    margin-top: 120px;
}

.content h2 {
    text-align: center;
    background-color: #8A817C;
    line-height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0px;
    color: #F4F3EE;
}

.content {
    color: #3b3b38;
}
